In [8]:
%matplotlib inline

import gmaps
import gmaps.datasets

gmaps.configure(api_key='AIzaSyBnG5WqD6aC8vH8CUuQy1-QKafN61y3TCY') # Fill in with your API key

earthquake_df = gmaps.datasets.load_dataset_as_df('earthquakes')
earthquake_df.head()

UsageError: Line magic function `%` not found.

In [3]:
import pandas as pd
import requests

In [4]:
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Lukulu,ZM,2021-07-19 20:30:14,-14.3707,23.2420,56.57,43,4,4.25
1,1,Jamestown,US,2021-07-19 20:26:45,42.0970,-79.2353,83.52,55,1,5.01
2,2,Mirnyy,RU,2021-07-19 20:30:15,62.5353,113.9611,60.64,68,100,1.01
3,3,Albany,US,2021-07-19 20:28:21,42.6001,-73.9662,79.41,80,99,1.21
4,4,San Francisco,US,2021-07-19 20:30:08,37.7749,-122.4194,96.89,66,20,4.00

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))